version: '3.1'

services:
  db:
    container_name: poc-batch-db
    platform: linux/x86_64
    image: postgres
    restart: on-failure
    environment:
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - "pgdata:/var/lib/postgresql/data"
      - "./init-db/init.sql:/docker-entrypoint-initdb.d/init.sql"

volumes:
  pgdata:
